@media screen and (max-width: 560px) {
  .footer {
    .footer-left {
      .logo-container {
        margin-bottom: 15px;
      }

      .phone-container {
        margin-bottom: 15px;
      }

      .address {
        margin-bottom: 15px;
      }
    }
  }
}
