@media screen and (max-width: 560px) {
  .about {
    padding: 0 10px;
    font-size: 14px;

    .about-title,
    .about-center-title {
      font-size: 24px;
    }
  }

  .about-centre {
    margin: 20px 0;
    .container {
      .about-img {
        img {
          width: 240px;
          height: 220px;
        }
      }

      .about {
        .about-title {
          text-align: center;
        }

        .about-boss {
          text-align: center;
        }
      }
    }
  }
}
