$maxWidth: 1420px;
$minWidth: 280px;

$lavanda07: rgba(128, 129, 189, 0.7);
$lavanda09: rgba(128, 129, 189, 0.9);

$lavanda: #8081bd;
$lavandaHover: #606199;
$lavandaActive: #3d3e69;

$lightblue: #0e95d3;
$darkblue: #334155;

$peach: #fff6d1;
$pink: #f3acc8;

$orange: #f6b31f;
$orangeHover: #e0a21c;
$orangeActive: #d4991a;

$red: #ea5d4a;
$redHover: #d44c3a;
$redActive: #af3d2e;

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
