@import "reset.scss";
@import "_vars.scss";
@import "_mixins.scss";

body {
  overflow-x: hidden;
  @import "components/wrapper/wrapper.scss";
  @import "components/modal-enroll/modal-enroll.scss";
  @import "components/overlay/overlay.scss";

  @import "components/message/message.scss";
}

button {
  -webkit-appearance: none;
}
