.video-gallery {
  @include section(80px);

  .section-title {
    font-size: 32px;
    color: $lavanda;
    margin-bottom: 30px;
  }

  .video-container {
    display: flex;
    gap: 20px;

    .video {
      position: relative;
      flex: 1;
      height: 240px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 150px;
        height: 150px;
        background-image: url("../img/video-gallery/play.svg");
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 0.2s ease-in;
      }

      &:hover::after {
        transform: scale(1.1);
      }

      &:nth-child(1) {
        background-image: url("../img/video-gallery/video1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @supports (background: url("../img/video-gallery/video1.webp")) {
          background: url("../img/video-gallery/video1.webp");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &:nth-child(2) {
        background-image: url("../img/video-gallery/video2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @supports (background: url("../img/video-gallery/video2.webp")) {
          background: url("../img/video-gallery/video2.webp");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &:nth-child(3) {
        background-image: url("../img/video-gallery/video3.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @supports (background: url("../img/video-gallery/video3.webp")) {
          background: url("../img/video-gallery/video3.webp");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@import "media/media768.scss";
