@media screen and (max-width: 576px) {
  .services {
    grid-template-columns: repeat(auto-fit, 110px);

    .service {
      flex-direction: column;

      img {
        width: 50px;
        margin-right: 0;
        margin-bottom: 10px;
      }

      span {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
