.map {
  width: 100%;
  height: 500px;
  background-image: url("../img/map/map.png");
  background-position: 30% center;
  border-radius: 30px;
  margin: 60px 0;

  @supports (background: url("../img/map/map.webp")) {
    background: url("../img/map/map.webp");
    background-position: 30% center;
    border-radius: 30px;
  }
}
